<div class="row">
  <div class="col-md-8 col-md-offset-2" >
    <h2>Mes souhaits </h2>
    <ul>
      <% @wanted_concerts.each do |wanted| %>
        <li> <%= wanted.department %> <%= link_to "Supprimer", wanted_concert_path(wanted), method: :delete %></li>
      <% end %>
    </ul>
  </div>
</div>

