<h1>Concerts</h1>


<ul>
  <% @concerts.each do |concert| %>


    <li><%= concert.date  %> | <%= concert.city_name %> | <%= concert.department %> | <%= concert.location_name %></li>

  <% end %>
</ul>

